@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	min-width: 0;
}

input {
	color-scheme: dark;
}

.rdp-root {
	--rdp-accent-color: indigo; /* Change the accent color to indigo. */
	--rdp-accent-background-color: #f0f0f0; /* Change the accent background color. */
	/* Add more CSS variables here. */
}
